body{
    background-color: #1F1D36;
    color:#864879;
    text-align: center;
}

.main{
    display: flex;
    flex-wrap: wrap;
}

.left{
    text-align: center;
    flex:50%;
    
    
}

.right{
    text-align: center;
    flex:50%;   
}

.right >img{
    opacity: 0.2;
}


.left >img:hover{
cursor: pointer;
}
@media (max-width: 1000px) {
    .right, .left {
      flex: 100%;
    }
  }

